<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.drone.droneNo %></title>
</head>
<body>
    <%- include('../../partials/messages') %>
    <h1><%= locals.drone.flightControllerNumber %></h1>

    <p><%= locals.drone.UUID %></p>
    <p><%= locals.drone.droneNo %></p>
    <p><%= locals.drone.buildDate %></p>

    <a href='/developer/drones/deregister/<%= locals.drone._id %>'>Deregister</a>
</body>
</html>