<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/test.css">
    <base href="/">
    <title>Document</title>
</head>
<body>
    <h1>Verification and Registration</h1>
    <%- include('../../partials/messages') %>
    <br>
    <a href="/developer//verifyandregister/registercustomer">Register Customer</a>
    <br>
    <h3>CUSTOMERS</h3>
    <hr>
    <% if(locals.customers) { %>
        <% locals.customers.forEach(customer => { %>
            <div>
                <p><%= customer.email %></p>
                <button onclick='verify("<%= customer._id %>", "customer")' id="id<%= customer._id %>">Verify</button>
            </div>
            <br>
        <% }) %>
    <% } %>

    <h3>DEVELOPERS</h3>
    <hr>
    <% if(locals.developers) { %>
        <% locals.developers.forEach(developer => { %>
            <div>
                <p><%= developer.email %></p>
                <button onclick='verify("<%= developer._id %>", "developer")' id="id<%= developer._id %>">Verify</button>
            </div>
            <br>
        <% }) %>
    <% } %>

    <script src="/js/verify.js"></script>
</body>
</html>